{% extends 'base.html' %}
{% load static %}
{% block content %}
<header>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script type='text/javascript'>
        $(document).ready(function(){
            $("input#qty").keypress(function() {
                var quantity = $("input#qty").val()
                var total= total*quantity
                $("p#total").html(total)
            });
        });
    </script>
    </header>



<style>
    body{
        font-family: Poppins;
    }
</style>


<header>

    
    
    </header>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }} p-3 mb-2 bg-success text-white" {% endif %}>{{ message }}
            </li>
            {% endfor %}
    </ul>
    {% endif %}
    <div class="container">
        <h3 class="text-center m-4"style="font-size: 24px;font-weight: 700;text-transform: uppercase;text-align: center;">All products</h3>
        <div class="text-center">
        <div class="row justify-content-center">
            {% for object in object_list %}
            <div class="col-sm-4 col-md-6 col-lg-4 col-xl-3">
                <a href="{% url 'comment' object.pk %}"><img class="card-img-top" width="100%" src="{{object.product_pic.url}}" alt="-------"></a>
                <div class="card-body" style="margin-bottom: 2px;">
                    <h5 class="card-title" ><span>{{ object.name|title }}</span></h5>
                    <p >Price: {{ object.price }} rwf /1piece</p>

                    <form action="{% url 'add_to_cart' object.id %}" >
                        {% csrf_token %}
                        <input placeholder="0" type="number" name="quantity" size="4" value="" min="0" step="1"
                      class="c-input-text qty text quantityid" style="width:60px; border-radius: 5px;">

                      
                      <input type="submit" class="btn hvr-hover" style="margin-left: 15px; border-radius: 20px; color: white; background-color: rgba(255, 0, 0, 0.836);" name="add" value="to cart">
                      <!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->


                    </form>
<!--

                    <a href="{% url 'add_to_cart' object.id %}" class="btn btn-warning">Add to Cart</a> <br> -->
                    <!-- <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#{{object.id}}">
                        View item
                    </button> -->
                    <div class="modal fade" id="{{object.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ object.name|title }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="{{object.product_pic.url}}" alt="{{object.name}}" class="img-fluid">
                                    <p class="imgdesc" style="padding-top: 10px;">Description:<span
                                            style="font-weight: bold;">{{object.description}}</span></p>
                                    <p>Price:<span style="font-weight: bold;">${{object.price}}</span></p>
                                    <button class="mr-1 badge badge-info"><i
                                        class="fas fa-location-arrow"></i>{{object.category}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
    </div>
</div>
    </div><br> 
    

{% endblock content %} 
    