{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  body{
      font-family:Poppins;
  }
</style>
<body>
  <div class="all-title-box" style="background-color:#b0b435">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Order Summary</h2>
            </div>
        </div>
    </div>
</div>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }} p-3 mb-2 bg-success text-white" {% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <br>
  <div class="container">
    <h1 style="font-size: 24px;font-weight: 700;text-transform: uppercase;text-align: center;">Order Summary</h1><br>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <section>
          <div class="table-responsive text-nowrap">
            <table class="table table-hover table-bordered text-center">
              <thead>
                <tr class="text-center">
                  <th>no.</th>
                  <th>Item title</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Total price</th>
                  <!-- <th>Delete item</th> -->
              </thead>
              <tbody>
                {% for item in order %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>
                    {{ item.items.product.name }}
                    <span class="pull-right">
                      <a href="{% url 'delete_item' item.id %}" data-balloon="remove this item from cart"
                        class="text-danger">
                        <i class="fas fa-trash"></i>
                      </a>
                    </span>
                  </td>
                  <td>{{ item.items.product.price }}</td>
                  <td class="quantity-box">{{ item.items.quantity }}</td>
                  <!-- <td>
                    <p id="total"></p>
                    </td> -->
                  <td class="subtotal">{{item.items.product.price|mul:item.items.quantity}}</td>
                  
                </tr>
                {% empty %}
                <tr>
                  <td colspan=5> You have not added any items yet.</td>
                </tr>
                {% endfor %}
                <tr>
                  {% if order.get_cart_total != None %}
                  <!-- <td colspan="5"><strong>Order Total: {{ order.get_cart_total }}rwf</strong></td> -->
                  <td colspan="5"><strong id="maintotal"></strong></td>
                </tr>
                {% endif %}
                <tr>
                  <td colspan=1>
                    <a href="{% url 'product_list' %}" class="btn btn-warning pull-left">
                      {% if order %}Continue Shopping{% else %}Add Items to Cart {% endif %}
                    </a>
                  </td>
                  <td colspan=5>
                    {% if order %}
                    <a href="{% url 'checkout' %}" class="pull-right btn btn-primary" style="background-color: #B0B435;border:none">Proceed To Checkout</a>
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
            </section>
            </div>
            <div class="col-md-1"></div>
            </div>
            </div><br><br>
 


          {% endblock %}

